


<div class="container">
    <div class="class">

        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="text-center">
                <h2 class="header-cnt">Add Your Product </h2>
            </div>
            
            <form (ngSubmit)="getDataHandler(addProd)" #addProd="ngForm">
              
             <div class="form-group">
                <label for="pname">Product Name:</label>
                <input type="input"autocomplete="off" class="form-control" id="pname" [(ngModel)]="Prod_Name" placeholder="Enter Product Name" name="productName">
              </div>
              <div class="form-group">
                <label for="qnty">Quantity:</label>
                <input type="number" autocomplete="off" class="form-control" id="qnty" [(ngModel)]="Prod_Qnty" placeholder="Enter Quantity" name="availableQuantity">
              </div>
              <div class="text-center">
                <button type="submit" class="btn custombtn" >Submit</button>
              </div>
              
            </form>
        </div>
        <div class="col-md-4"></div>
    
    
    </div>

   
  </div>
  